<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:replace="/fragments/index2.html :: head">
  <link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css}" />
  <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css}" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
</head>

<body>

  <!-- ======= Header ======= -->
  <header th:replace="/fragments/index2.html :: header">
  </header><!-- End Header -->
  <div th:fragment="sidebar" class="left-side-bar">
    <div class="brand-logo">
      <a th:href="@{/pilote/home}">
        <img th:src="@{/assets/img/logo.png}" alt="" />
      </a>
      <div class="close-sidebar" data-toggle="left-sidebar-close">
        <i class="ion-close-round"></i>
      </div>
    </div>
    <div class="menu-block customscroll">
      <div class="sidebar-menu">
        <ul id="accordion-menu">
          <li>
            <a href="javascript:;" th:href="@{/pilote/home}" class="dropdown-toggle no-arrow">
              <span class="micon bi bi-house"></span
              ><span class="mtext">Home</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" th:href="@{/voiture/list}" class="dropdown-toggle no-arrow">
              <span class="micon bi bi-table"></span
              ><span class="mtext">Voitures</span>
            </a>
          </li>
          <li>
            <a href="calendar.html" class="dropdown-toggle">
              <span class="micon bi bi-calendar4-week"></span
              ><span class="mtext">Calendar</span>
            </a>
          </li>
          <li>
            <a href="sitemap.html" class="dropdown-toggle no-arrow">
              <span class="micon bi bi-diagram-3"></span
              ><span class="mtext">Sitemap</span>
            </a>
          </li>
          <li>
            <a href="chat.html" class="dropdown-toggle no-arrow">
              <span class="micon bi bi-chat-right-dots"></span
              ><span class="mtext">Chat</span>
            </a>
          </li>
          <li>
            <a
              th:href="@{https://dropways.github.io/deskapp-free-single-page-website-template/}"
              target="_blank"
              class="dropdown-toggle no-arrow"
            >
              <span class="micon bi bi-layout-text-window-reverse"></span>
              <span class="mtext"
                >Landing Page
                <img src="vendors/images/coming-soon.png" alt="" width="25"
              /></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
 
  <div class="main-container">
      <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
          <div class="page-header">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="title">
									<h4>Form</h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="index.html">Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Form Basic
										</li>
									</ol>
								</nav>
							</div>
							<div class="col-md-6 col-sm-12 text-right">
								<div class="dropdown">
									<a
										class="btn btn-secondary dropdown-toggle"
										href="#"
										role="button"
										data-toggle="dropdown"
									>
										January 2018
									</a>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#">Export List</a>
										<a class="dropdown-item" href="#">Policies</a>
										<a class="dropdown-item" href="#">View Assets</a>
									</div>
								</div>
							</div>
						</div>
					</div>
          <div class="page-header">
            <h3>Liste des Pilotes</h3>
            <hr/>
            <a th:href="@{/addEmployeeForm}" class="btn btn-primary">Add Employee</a>
            <br/><br/>
            <table class="table table-bordered table-striped" id="employeeTable">
            
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Téléphone</th>
                  <th>Voiture(s)</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="pilote: ${listPilote}">
                  <td th:text="${pilote.nom}" />
                  <td th:text="${pilote.prenom}" />
                  <td th:text="${pilote.telephone}" />
                  <td>
                    <a th:href="@{/showUpdateForm(employeeId=${employee.id})}" class="btn btn-info">Update</a>
                    
                    <a th:href="@{/deleteEmployee(employeeId=${employee.id})}" class="btn btn-danger ml-2">Delete</a>
                  </td>
                </tr>
              </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js}"></script>
		<script>
			$(document).ready(function() {
				$("#employeeTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
    <div th:replace="/fragments/index2.html :: script">
  </div>
</body>
</html>