<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:replace="/fragments/index2.html :: head">
</head>

<body>
    <!-- ======= Header ======= -->
    <header th:replace="/fragments/index2.html :: header">
    </header><!-- End Header -->

	<header th:replace="/pilote/index.html :: sidebar">
    </header>
	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Ajouter Role
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
				<!-- Default Basic Forms Start -->	
					<div class="contact-directory-list">
						<ul class="row">
							<li class="col-xl-12 col-lg-4 col-md-6 col-sm-12">
								<div class="contact-directory-box">
									<div class="contact-dire-info text-center">
										<h3 class="breadcrumb-item active"><i class="icon-copy bi bi-shield-plus"></i> Ajouter Role</h3>
            							<hr/>
            							<br/>
										<div class="contact-avatar">
											<span>
												<iframe class="w-100 border-0" src="https://embed.lottiefiles.com/animation/127878"></iframe>
											</span>
										</div><br/>

										<div class="contact-name">
											<form th:action="@{/role/save}" method="POST">
												<div class="text-center">
													<div class="form-group row">
														<label class="col-sm-12 col-md-4 col-form-label" for="role">Role</label>
														<div class="col-sm-12 col-md-6">
                                                            <input type="text" name="role" class="form-control" id="role" placeholder="Role" required>
														</div>
													</div>	
												</div>
                                                <br/>
												<div class="row">
													<div class="col-md-5 col-sm-12">
														<div class="form-group row">
															
														</div>	
													</div>
													<div class="col-md-1 col-sm-12">
														<div class="form-group row">
															<input type="submit" class="btn btn-primary" value="Ajouter">
														</div>	
													</div>
													<div class="col-md-1 col-sm-12">
														<div class="form-group row">
															<a th:href="@{/role/list}" class="btn btn-secondary" >Annuler</a>
														</div>
													</div>
												</div>	
											</form>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
			</div>
		</div>
		<!-- Default Basic Forms End -->
	</div>
		

    <div th:replace="/fragments/index2.html :: script">
	</div><!-- End Header -->
</body>
</html>