<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:replace="/fragments/index2.html :: head">
  <link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css}" />
  <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css}" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
</head>

<body>

  <!-- ======= Header ======= -->
  <header th:replace="/fragments/index2.html :: header">
  </header><!-- End Header -->
  <header th:replace="/pilote/index.html :: sidebar">
  </header>

    <div class="main-container">
      <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
          <div class="page-header">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="index.html">Home</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											liste Roles
										</li>
									</ol>
								</nav>
							</div>
							<div class="col-md-6 col-sm-12 text-right">
                
								<a class="btn btn-primary" th:href="@{/role/add}"><iframe class="w-0 border-0" height="40" width="40" src="https://embed.lottiefiles.com/animation/78961"></iframe> Ajouter Role</a>
							</div>
						</div>
					</div>
          <div class="page-header">
            <h3 class="breadcrumb-item active">Liste des Roles</h3>
            <span>Nombre total de role= <span th:text="${nbr}"></span></span>
            <hr/>
            <br/>
            <table class="table table-bordered table-striped" id="employeeTable">
              <thead>
                <tr>
                  <th>id</th>
                  <th>role</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="role: ${roles}">
                  <td th:text="${role.id}" />
                  <td th:text="${role.role}" />
                  <td class="text-center">
                    <a th:href="@{/role/delete/{id}(id=${role.id})}" class="btn btn-danger ml-2"><i class="dw dw-delete-3"></i></a>
                  </td>
                </tr>
              </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>
    

  <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js}"></script>
		<script>
			$(document).ready(function() {
				$("#employeeTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
  <div th:replace="/fragments/index2.html :: script">
  </div>
</body>
</html>